# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/backend/credentials.json
src/backend/token.json
src/backend/gmail_token.json
src/backend/calender_token.json
src/backend/.env
**/.env


src/backend_lc/credentials.json
src/backend_lc/token.json
src/backend_lc/ctoken.json
src/backend/.env


x





