beautifulsoup4==4.13.4
fastapi==0.116.1
firebase_admin==6.9.0
google_api_python_client==2.169.0
google_auth_oauthlib==1.2.2
jobspy==0.31.0
langchain==0.3.26
langchain_core==0.3.69
langchain_openai==0.3.28
langgraph==0.5.3
newspaper3k==0.2.8
openpyxl==3.1.5
pandas==2.3.1
pdfminer_six==20250506
protobuf
pydantic==2.11.7
python-dotenv==1.1.1
python_docx==1.1.2
Requests==2.32.4
starlette==0.47.1
uvicorn==0.35.0
gunicorn==20.1.0
itsdangerous