fastapi
uvicorn
gunicorn
itsdangerous
python-dotenv
firebase-admin
google-api-python-client
google-auth-oauthlib
langchain
langchain_core
langchain_openai
langgraph
beautifulsoup4
jobspy
newspaper3k
pandas
Requests
openpyxl
pdfminer_six
python_docx
playwright
lxml_html_clean
