@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@500;600;700&display=swap');

:root {
  --dark-charcoal: #101010;
  --black: #000000;
  --subtle-gold: #D4AF37;
  --off-white: #EAEAEA;
  --medium-gray: #A0A0A0;
  --glass-bg: rgba(255, 255, 255, 0.818);
  --glass-border: rgba(255, 255, 255, 0.841);
  --font-body: 'Inter', sans-serif;
  --font-display: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--subtle-gold) var(--dark-charcoal);
}

body {
  background-color: var(--dark-charcoal);
  color: var(--off-white);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

#root {
  display: flex;
  height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
  font-weight: 600;
}

@keyframes bounce {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1.0);
  }
}